/**
 * options for JCRAuthenticationModule module:
 *   realm: to restrict the login to a certain realm
 *   use_realm_callback: to allow the GUI to pass the realm to login into
 *   skip_on_previous_success: if true the login is scipped if a former module proceeded a successfull login
 *
 * example:
 *    info.magnolia.jaas.sp.jcr.JCRAuthenticationModule requisite realm=public;
 *    info.magnolia.jaas.sp.jcr.JCRAuthenticationModule requisite realm=admin skip_on_previous_success=true;
 */

magnolia {
  // ensure user is who he claims he is (check pwd for the user)
  info.magnolia.jaas.sp.jcr.JCRAuthenticationModule requisite;
  // retrieve users ACLs
  info.magnolia.jaas.sp.jcr.JCRAuthorizationModule required;
};
